<h2>Application Statistics</h2>
<p>Application: <b><%= appStats.projectName %></b></p>
<p>Snapshot date/time: <b><%= appStats.currentDate %></b></p>
<p>LLM provider: <b><%= appStats.llmProvider %></b></p>
<p>Files count: <b><%= appStats.fileCount %></b></p>
<p>Lines of code: <b><%= appStats.linesOfCode %></b></p>

<h2>Application Description</h2>
<p><%= appStats.appDescription %></p> 